// .left-button {
//   background-color:rgb(59, 59, 56);
// }

mat-toolbar {
  background-color: rgb(59, 59, 56);
}

  .top-toolbar {
    position:sticky;
    top:0;
  }
.drw {
  // top: 150px;
  width: auto;
  height: 100%;
  background: rgb(59, 59, 56)

}

.drw-content {
  display: flex;
  height: 100%;
  width: 150px;

}
.drw-button {
  color: white;
}

.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
  color: tomato;
}

mat-grid-tile {
  color: antiquewhite;
  background-color: darksalmon;

}
mat-list {
  button {
    width: 100%;
    // background-color: tomato;
  }
}
