<div class="grid-container">
  <div class="grid-item">Ms Athena</div>
  <div class="grid-item">Kreekor</div>
  <div class="grid-item">Goyish</div>
  <div class="grid-item">Sabad Buang</div>
  <div class="grid-item">$135,000</div>
  <div class="grid-item">A little bit more text than the others. So, what happens?</div>
  <div class="grid-item">
    ** Angular Live Development Server is listening on localhost:4200, open your browser on http://localhost:4200/ **
  </div>
  <div class="grid-item">5</div>

</div>
