.grid-container {
  display: grid;
  grid-template-columns: auto auto ;
  background-color: darksalmon;
  padding: 20px;
  gap: 20px 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
  line-height: 1.5rem;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
  // grid-template-columns: repeat(auto, minmax(270px, 1fr));
  // grid-template-columns: auto auto ;
  grid-gap: 1rem;
}

.vid {
  transform: scale(.4);
}

.container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
